@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Montserrat:wght@500;700&family=Mulish:wght@400;500;700&display=swap");

a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: #000000;
}
.main {
  display: flex;
  justify-content: center;
}

.thankyouContainer {
  font-size: 14px;
  background-color: #ffffff;
  /* width: 580px; */
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin: 10px 0px;
}

.thankyouContainer > .border {
  position: absolute;
  border-bottom: 1px solid;
  border-color: #dcdcdc;
  width: 96%;
  height: 70px;
  /* position: absolute;
    border-bottom   : 1px solid;
    width: inherit;
    height: 70px; */
}

.thankyouContainer > .top {
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid;
  border-color: #dcdcdc;
}

.thankyouContainer > .top > .logoBox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 72px;
  padding-bottom: 10px;
}

/* .thankyouContainer > .top > .logoBox > .logo {
    /* position: absolute; */
/* z-index: 99; */
/* width: 63px; */
/* border-radius: 50px; */
/* left: 20px; */
/* } */

.thankyouContainer > .top > .logoBox > .gslogo {
  margin-left: 50px;
  z-index: 9;
}

.thankyouContainer > .top > .cashback {
  font-family: "DM Sans";
  font-style: normal;

  margin-left: 43px;
  margin-right: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.thankyouContainer > .top > .cashback .active strong {
  font-weight: 700 !important;
}

.thankyouContainer > .top > .cashbackBtn > .buttonThnx {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;

  width: max-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.32px;
  color: #ffffff !important;

  background: #1e1e1e;
  font-family: "DM Sans";
  font-style: normal;
}

.thankyouContainer > .top > .cashbackBtn > .buttonThnx a {
  color: #ffffff !important;
}
.thankyouContainer > .cashback_mobile {
  display: none;
}

/* .thankyouContainer > .slider {
    height: 200px;
} */

.thankyouContainer > .cashbackBtn_mobile {
  display: none;
}

.thankyouContainer > .bottom {
  padding: 10px 15px 10px 30px;
  background: #1e1e1e;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thankyouContainer > .bottom > .left {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}

.thankyouContainer > .bottom > .left > img {
  margin-left: 10px;
}

.thankyouContainer > .bottom > .right {
  display: flex;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */

  color: #ffffff;
}

.thankyouContainer > .bottom > .right > img {
  margin-left: 10px;
}
.summaryContainer {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

.summaryContainer > .image {
  margin-top: 10px;
}

.summaryContainer > .image img {
  width: 100%;
}

.summaryContainer > .groupshop_right-block > .cashback {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  padding: 10px 80px;
}

.summaryContainer > .groupshop_right-block > .cashbackTxt {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  text-align: center;

  color: #000000;
  padding: 10px 80px;
}

.summaryContainer .cashbackBtn {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.summaryContainer .cashbackBtn > .buttonThnx {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.55px;
  text-transform: capitalize;

  color: #ffffff;
  background: #000000;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px 15px;
}
.cashbackBtn > .buttonThnx a,
.left a {
  color: #ffffff;
}

@keyframes blink {
  0% {
    background-color: rgba(238, 238, 238, 1);
  }
  50% {
    background-color: rgba(238, 238, 238, 0.5);
  }
  100% {
    background-color: rgba(238, 238, 238, 1);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(238, 238, 238, 1);
  }
  50% {
    background-color: rgba(238, 238, 238, 0.5);
  }
  100% {
    background-color: rgba(238, 238, 238, 1);
  }
}
.image-placeholder {
  background-color: rgb(238, 238, 238);
  display: flex;
  height: 180px !important;
  margin: 5px;
  width: 260px;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation: blink normal 1.5s infinite ease-in-out;
  /* Opera */
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}
.logoBox .logo {
  object-fit: contain;
  border: 1px solid #e7e7e7;
  height: 52px;
  border-radius: 50px;
  background: #ffffff;
  padding: 5px;
}

.main .logoBox .logo {
  display: block !important;
}
@media (max-width: 700px) {
  .thankyouContainer {
    background-color: #ffffff;
    /* width: 340px; */
    border-radius: 5px;
  }
  .thankyouContainer > .top {
    justify-content: center;
  }
  .thankyouContainer > .top > .cashback {
    display: none;
  }
  .thankyouContainer > .top > .cashbackBtn {
    display: none;
  }
  .thankyouContainer > .cashback_mobile {
    display: block;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    text-align: center;

    color: #000000;

    margin: 20px 50px;
  }
  .thankyouContainer > .cashbackBtn_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .thankyouContainer > .cashbackBtn_mobile .buttonThnx {
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32px;
    color: #ffffff !important;
    background: #1e1e1e;
    font-family: "DM Sans";
    font-style: normal;
    margin-top: 20px;
}

.thankyouContainer > .cashbackBtn_mobile .buttonThnx a{
  color: #ffffff;
 }

  .thankyouContainer > .cashbackBtn_mobile > .buttonSmry {
    padding: 12px 20px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32px;

    color: #ffffff;
    background: #121212;
    border-radius: 5px;
  }
  .thankyouContainer > .bottom > .left {
    font-size: 10px;
    line-height: 13px;
  }

  .summaryContainer {
    /* width: 352px; */
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
  }

  .summaryContainer > .image {
    margin-top: 10px;
  }

  .summaryContainer > .cashback {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    padding: 10px 80px;
  }

  .summaryContainer > .cashbackTxt {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    text-align: center;

    color: #000000;
    padding: 10px 80px;
  }

  .summaryContainer > .cashbackBtn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }

  .summaryContainer .cashbackBtn > .buttonSmry {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.55px;
    text-transform: capitalize;

    color: #ffffff;
    background: #000000;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 15px;
  }
}
